<div class="home">
  <div class="intro">Quick Start Guide</div>
  <div class="info">To begin using the Ngx Spider Chart in your Angular projects, follow these simple steps:</div>
  <div class="home__section">
    <div class="header">Install the Library into Your Angular Project</div>
    <div class="info">
      You can install the library into your Angular project using npm. Navigate to your Angular project directory and run:
      <code>npm install nextsapien-component-lib</code>
    </div>
  </div>
  <div class="home__section">
    <div class="header">Install The Required fonts</div>
    <div class="info">
      <ul>
        <li>
          You can download the Gilroy fonts from <a href="https://drive.google.com/file/d/17btm0HQ40a4mcA-ZLbMO-lyeftpqjgI3/view?usp=sharing" target="_blank">this link</a> and put
          them in your assets folder.
        </li>
        <li>
          For Calistoga and Material Icons, you can add the following lines to your index.html file:
          <ul>
            <li>&#60;link rel="preconnect" href="https://fonts.googleapis.com" /&#62;</li>
            <li>&#60;link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /&#62;</li>
            <li>&#60;link href="https://fonts.googleapis.com/css2?family=Calistoga&display=swap" rel="stylesheet" /&#62;</li>
            <li>&#60;link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" /&#62;</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="home__section">
    <div class="header">Start Using Ngx Spider Chart</div>
    <div class="info">
      Once installed, you can start using the Ngx Spider Chart's components in your Angular project. Import the required modules and use the components as needed within your
      application.
    </div>
  </div>
</div>
