<div class="detail">
  <h2 class="intro">Spider Chart</h2>
  <div class="info">This chart helps analyze relationships between individuals based on various attributes.</div>
  <div class="wrapper">
    <div class="chart">
      <lib-spider-chart [datasets]="config.datasets" [config]="config" [polygon_colors]="polygon_colors"></lib-spider-chart>
      <div class="form">
        <form (ngSubmit)="onSubmit()" class="form-container">
          <div class="input-control">
            <lib-input-field
              [textarea]="true"
              [maxLength]="500"
              id="arrayControl"
              [label]="'Enter data labels, separated by commas'"
              [formControl]="arrayControl"
              (keyDown)="onKeyDown($event)"
            ></lib-input-field>
          </div>
          @if (datasets.length === 0) {
            <lib-primary-btn [ngClass]="{ disable: arrayControl.touched && arrayControl.invalid }" [disabled]="arrayControl.touched && arrayControl.invalid" (click)="onSubmit()"
              >Submit</lib-primary-btn
            >
          } @else {
            <div class="button-group">
              <lib-secondary-btn (click)="resetDatasets()">Reset</lib-secondary-btn>
              <lib-primary-btn
                [ngClass]="{ disable: arrayControl.touched && arrayControl.invalid }"
                [disabled]="arrayControl.touched && arrayControl.invalid"
                (click)="addDataset()"
              >
                Add Dataset
              </lib-primary-btn>
            </div>
          }
          @if ((arrayControl.touched && arrayControl.invalid) || datasetLimitExceed) {
            <div class="error-message">{{ (arrayControl.hasError('arraySize') ? 'Input must contain between 6 and 15 values.' : '') || datasetLimitExceed }}</div>
          }
        </form>
      </div>
    </div>
    <div class="controller">
      @if (datasets.length === 0) {
        <div class="header">Enter data to display the form controller here.</div>
      } @else {
        <div class="datasets-container">
          @for (dataset of datasets; track dataset) {
            <div class="dataset-div">
              <p>{{ dataset.title }}</p>
              <div class="keys-values-container">
                @for (key of dataset.keys; let i = $index; track key) {
                  <div class="key-value-item">
                    <lib-input-field
                      [name]="key"
                      [value]="dataset.values[key]"
                      [label]="key"
                      [type]="'number'"
                      (input)="updateDatasetValue(dataset, key, $event?.target)"
                    ></lib-input-field>
                  </div>
                }
              </div>
              <lib-secondary-btn (click)="removeDataset(i)" type="button">Remove {{ dataset.title }}</lib-secondary-btn>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
